<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :has_iterations %><br />
    <%= f.check_box :has_iterations %>
  </div>

	<div class="field">
	    <%= t('organizations.organization') %><br />
	    <b><%= @organization.name %></b>
		<%= hidden_field_tag(:organization_id, @organization.id) %>
	</div>

	<% if @project.organization != nil then %>
	<div id="users">
		<b>Users:</b>
		<ul>
			<% @project.organization.users.each { |user| %>
				<li><%= user.fullName %></li>
			<% } %>
		</ul>
		
		<div class="new_user">
			<b>Add User:</b>
			<%= text_field_tag(:new_user) %>
			<button type="button">Add</button>
		</div>
	</div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
