<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Has iterations</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects_map.each_pair do |organization, projects| %>
	<tr class="highlight" id="organization_<%= organization %>">
		<th colspan="4"><%= projects[0].organization.name %></th>
	</tr>
	<% projects.each do |project| %>
	  <tr>
	    <td><%= project.name %></td>
	    <td><%= project.has_iterations %></td>
	    <td><%= link_to 'Show', project %></td>
	    <td><%= link_to 'Edit', edit_project_path(project) %></td>
	  </tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
